div {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#generate_button {
    width: 200px;
    height: 50px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
#welcome_heading {
    margin-bottom: 80px;
}
a {
    display: block;
    text-align: center;
}  
body > h2 {
    display: block; 
    align-items: center;
}
body > div > blockquote {
    display: inline-flex;
    font-size: 24px; 
    font-style: italic; 
    text-align: center; 
    border-left: 4px solid #ccc; 
    padding-left: 20px;
}
table, th, td {
    border: 1px solid black;
}